{{template "base"}}
<main class="container relative mx-auto my-0 flex flex-col px-4">
  <a
    href="/"
    aria-label="Home page"
    hx-boost="true"
    class="text-nord3 hover:text-nord1"
    >Back</a
  >
  <h1 class="mx-auto mb-3 text-4xl">{{ .Title }}</h1>
  <div class="container">
    <img
      class="m-auto sm:h-64 md:h-96 lg:h-[500px]"
      src="{{ .Image }}"
      alt="Photo of the stock detail page of Marketsim"
    />
  </div>

  <section class="my-4 min-h-[5vh]">
    <div class="flex flex-col">
      <div class="container mx-auto md:max-w-5xl">
        {{ range .Sections}}
        <h1 class="my-4 text-center text-3xl">{{ .Title }}</h1>
        <p class="my-2 flex leading-6 tracking-wide">{{ .Text }}</p>
        {{end}}
      </div>
    </div>
  </section>
</main>
{{template "footer"}}
