{{template "base" .}} {{define "content"}}
<!-- Content -->
<main class="home-wrapper">
  <div class="hero"></div>
  <div class="head">
    <div class="avatar">
      <img
        class="headshot"
        src="/static/images/black-and-white-headshot.jpg"
        alt="picture of me"
      />
    </div>
    <div class="about-container">
      <div>
        <h1 class="name">Dillon McQuade</h1>
        <h1 class="title" id="typewriter"></h1>
      </div>

      <h1 class="title">About me</h1>
      <p class="about">
        I'm a life-long learner, adventurer, husband, and lawn nerd. I'm
        intrigued by software and especially developer tools and command-line
        applications.
      </p>
      <p class="about">
        My interests in software are vast and I'm determined to continue to
        broaden my horizons in this field. I'm currently looking for a new role
        to apply the knowledge I've gained and expand my skill-set.
      </p>
    </div>
  </div>
  <hr class="rule" />
  <h1 class="name">Projects</h1>

  <!-- Projects -->
  <div class="projects">
    {{range .Projects}}
    <section class="project-wrapper">
      <div class="image-container">
        <img src="{{ .Src }}" alt="project thumbnail" />
      </div>
      <div class="title-icons">
        <div class="project-name">
          {{ .Name}} {{ if .Url }}
          <span styles="font-size: 1rem;">
            <a aria-label="View the application live" href="{{ .Url }}">Live</a>
          </span>
          {{end}}
        </div>
      </div>
      <hr />
      <div class="content">
        <p class="description">{{ .Description}}</p>
        <div class="icons">
          <div>
            <a
              href="{{ .Github }}"
              aria-label="View the github repository"
              alt="github link"
              rel="noreferrer"
              target="_blank"
            >
            </a>
            {{ if .Youtube }}
            <a
              href="{{ .Youtube }}"
              aria-label="View a presentation of the project on youtube"
              alt="youtube link"
              rel="noreferrer"
              target="_blank"
            >
              <BsYoutube size="24px" styles="margin: 0 .5rem" />
            </a>
            {{ end}}
          </div>
          {{ if .NoInfo }}
          <a
            class="learn-more"
            hx-boost="true"
            href="/project/{{ .Id }}"
            }
            aria-label="View project details"
            >Project Details</a
          >
          {{ end}}
        </div>
      </div>
    </section>
    {{end}}
  </div>
  <hr class="rule" />

  <!-- Skills -->
  <h1 class="name">Skills</h1>
  <div class="skills">
    {{range .Skills}}
    <p class="skill">{{ . }}</p>
    {{end}}
  </div>
</main>
{{ end }}
