{{template "base"}}
<main
  class="container mx-auto mb-0 ml-auto mr-auto mt-4 flex h-full flex-col items-center p-4 text-xs"
>
  <!-- Hero -->
  <div
    class="absolute -top-[100px] -z-10 h-hero_mobile w-screen bg-hero bg-cover bg-center md:h-hero"
  ></div>

  <!-- About Section -->
  <section
    class="flex w-full flex-col items-center justify-evenly bg-head text-nord4 md:min-h-[40vh] md:flex-row"
  >
    <div class="flex flex-col items-center">
      <img
        class="mx-0 my-4 h-72 rounded sm:h-[300px]"
        src="/static/images/black-and-white-headshot.jpg"
        alt="picture of me"
      />
    </div>
    <section class="md:max-w-1/3 w-full max-w-max text-center md:w-1/3">
      <div>
        <h1 class="mx-0 my-5 text-2xl font-bold text-nord8">Dillon McQuade</h1>
        <h1 class="mx-0 my-5 text-xl font-bold text-nord8" id="typewriter"></h1>
      </div>

      <h1 class="mx-0 my-5 text-xl font-bold text-nord8">About me</h1>
      <p class="w-full p-4 indent-4 text-lg lg:max-w-5xl">
        I'm a life-long learner, adventurer, husband, and lawn nerd. I'm
        intrigued by software and especially developer tools and command-line
        applications.
      </p>
      <p class="w-full p-4 indent-4 text-lg lg:max-w-5xl">
        I am motivated by and enjoy backend development. I have used Typescript
        for most of my projects, and right now i'm learning more about the Go
        programming language. This site was written in Go using the
        html/template package and only 15 lines of JavaScript!
      </p>
    </section>
  </section>

  <hr class="mx-auto mb-8 mt-16 h-4 w-2/3 text-nord7" />

  <!-- Projects -->
  <h1 class="mx-0 my-5 text-2xl font-bold text-nord8">Projects</h1>
  <section class="mx-auto my-0 flex w-full flex-wrap justify-center">
    {{range .Projects}}
    <article
      class="mx-0 my-4 w-full rounded-md bg-white p-4 shadow-project_card sm:m-4 sm:max-w-[350px]"
    >
      <div class="flex h-80 justify-center overflow-hidden">
        <img src="{{ .Src }}" alt="project thumbnail" />
      </div>
      <div class="flex flex-col font-bold">
        <div class="text-2xl">
          {{ .Name}} {{ if .Url }}
          <span class="text-base text-nord10">
            <a aria-label="View the application live" href="{{ .Url }}">Live</a>
          </span>
          {{end}}
        </div>
      </div>
      <hr class="h-2 text-nord7" />
      <div class="flex h-40 flex-col justify-between">
        <p class="text-sm tracking-wider">{{ .Description}}</p>
        <div class="flex flex-row items-center justify-between">
          <div class="flex flex-row-reverse">
            <a
              href="{{ .Github }}"
              class="px-2 no-underline"
              aria-label="View the github repository"
              alt="github link"
              rel="noreferrer"
              target="_blank"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="black"
                class="bi bi-github"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                />
              </svg>
            </a>
            {{ if .Youtube }}
            <a
              href="{{ .Youtube }}"
              class="px-2 no-underline"
              aria-label="View a presentation of the project on youtube"
              alt="youtube link"
              rel="noreferrer"
              target="_blank"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="black"
                class="bi bi-youtube"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
                />
              </svg>
            </a>
            {{ end}}
          </div>
          {{ if .NoInfo }}
          <a
            class="font-bold leading-6 text-black underline-offset-4 hover:text-nord10"
            hx-boost="true"
            href="/project/{{ .Id }}"
            aria-label="View project details"
            >Project Details</a
          >
          {{ end}}
        </div>
      </div>
    </article>
    {{end}}
  </section>
  <hr class="mx-auto mb-8 mt-16 w-1/3 text-nord7" />

  <!-- Skills -->
  <h1 class="mx-0 my-5 text-2xl font-bold text-nord8">Skills</h1>
  <section class="mx-auto my-0 grid w-full grid-cols-3 grid-rows-4">
    {{range .Skills}}
    <p class="mt-5 text-center text-base font-semibold">{{ . }}</p>
    {{end}}
  </section>
</main>
<script
  nonce="dmcquade-go"
  type="text/javascript"
  src="/static/js/index.js"
></script>
{{ template "footer" }}
