{{ define "Projects"}}
<div class="projects">
  {{range .Projects}}
  <section>
    <div class="image-container">
      <img class="thumbnail" src="{{ .Src }}" alt="project thumbnail" />
    </div>
    <div class="title-icons">
      <div class="name">
        {{ .Name}}
        <span styles="font-size: 1rem;">
          <a href="{{ .Url }}">Live</a>
        </span>
      </div>
    </div>
    <hr />
    <div class="content">
      <p class="description">{{ .Description}}</p>
      <div class="icons">
        <div>
          <a
            href="{{ .Github }}"
            alt="github link"
            rel="noreferrer"
            target="_blank"
          >
          </a>
          {{ if .Youtube }}
          <a
            href="{{ .Youtube }}"
            alt="youtube link"
            rel="noreferrer"
            target="_blank"
          >
            <BsYoutube size="24px" styles="margin: 0 .5rem" />
          </a>
          {{ end}}
        </div>
        {{ if .NoInfo }}
        <LearnMore to="/project/{{ .Id }}" }>Learn more</LearnMore>
        {{ end}}
      </div>
    </div>
  </section>
  {{end}}
</div>
{{end }} {{define "Skills"}}
<div class="skills">
  {{range .Skills}}
  <p class="skill">{{ .Skill}}</p>
  {{end}}
</div>
{{end}}
